.privacylaws span {
    display: block;
    min-height: 10dvh;
    height: auto;

    line-height: 20px;

    padding: 10px;
}

.lawslink {
    text-decoration: none;
    color: #5562ea;
}

.privacylaws span h3 {
    font-weight: 900;
}

.privacylaws span p, .privacylaws span ul li {
    font-weight: 100;
}