.option {
    display: none;
}

.link svg {
    width: 30px;
    height: 30px;

    display: inline;
    margin: 4px;
}

.link h6 {
    display: inline;
    font-size: 8pt;

    margin: 4px;
}

@media (max-width: 850px) {
    .option {
        display: unset;

        margin: 15px;
    }
}