  .navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu_toggle {
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
  }
  
  .nav_links {
    position: absolute;
    top: 80px;
    right: 0;
    
    border-radius: 15px;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
  }
  
  .menu {
    width: 34px;
    height: 4px;
    
    margin: 10px 0;
    background: #E0E1E3;
    border: #E0E1E3 solid 1px;
    border-radius: 12px;
    box-shadow: #000 1px 2px;
  }

  .nav_links.active {
    display: flex;
  }
  
  
  @media (min-width: 850px) {
    .menu_toggle {
      display: none;
    }
  
    .nav_links {
      display: flex !important;
      flex-direction: row;
      gap: 1rem;
      margin-top: 0;
    }
  }
  