.navtcinc {
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #0A1128;
}

.navtcinc img {
    background: #3897E5;

    border:#3897E5 solid 1px;
    border-radius: 12px;

    width: 200px;
    height: 200px;
}

.navtcinc h4 {
    margin: 0;

    font-size: 10pt;
}