/* @import "tailwindcss"; */

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #0A1128;

  margin: 0;
}

#linkbuttonchikitaverse a{
  text-decoration: none;
  width: 20dvw;
}

#linkbuttonchikitaverse a button {
  height: 4dvh;
  width: 5.5dvw;

  background: #3897E5;
  border: #3897E5 solid 1px;
  border-radius: 10px;

  color: #E0ECF0;
  font-size: 11pt;
  font-weight: 600;
  font-family: 'Pixelify Sans';
  

  margin: 20px 0;

  transition: all 0.3s ease;
}

#linkbuttonchikitaverse a button:hover {
  background: #9ccbf2;
  border: #9ccbf2 solid 1px;
  border-radius: 15px;

  color: #0A1128;

  font-weight: 300;

  box-shadow: #282727 0 3px 2px 0;
}