/* @import "tailwindcss"; */

body {
  font-family: 'Pixelify Sans', sans-serif;
  color: #0A1128;

  margin: 0;
}

#maincont {
  display: flex;
  gap: 20px;

  margin: 12px 110px;
}

#menu {
  background: #E6E6E6;
  border: #E6E6E6 solid 1px;
  border-radius: 15px;

  height: 40dvh;
  width: 15dvw;

  text-align: center;

  flex-grow: 1;
}

#menu h2 {
  margin: 5px 0;
}

#cotent {
  background: #E6E6E6;
  border: #E6E6E6 solid 1px;
  border-radius: 15px;

  width: 90%;
  height: 70dvh;

  padding: 10px 30px;
  box-sizing: border-box;

  flex-grow: 2;
}

#cotent h2 {
    font-size: 30pt;
    font-weight: 800;
    
    margin: 10px 0;
}

#cotent p {
    font-size: 18pt;
    font-weight: 300;
}

#buttonchikitaverse {
  height: 4dvh;
  width: 5.5dvw;

  background: #3897E5;
  border: #3897E5 solid 1px;
  border-radius: 10px;

  color: #E0ECF0;
  font-size: 11pt;
  font-weight: 600;

  transition: all 0.3s ease;
}

#buttonchikitaverse:hover {
  background: #9ccbf2;
  border: #9ccbf2 solid 1px;
  border-radius: 15px;

  color: #0A1128;

  font-weight: 300;

  box-shadow: #282727 0 3px 2px 0;
}