.mural {
    display: flex;
    flex-direction: column;
    gap: 10px;


    padding: 10px;
    border-radius: 12px;

    max-width: 80%;
    max-height: 45%;
}

.mural form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;

    color: #E0E1E3;
}

.mural form textarea {
    padding: 10px;
    border-radius: 14px;

    min-height: 6vh;
    max-height: 20vh;
    height: min-content;
}

.mural form button {
    padding: 1vh;
    border-radius: 12px;
}

.mural div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    box-sizing: border-box;
    border-radius: 12px;

    margin: 5px 8px;
    padding: 10px 8px;
}

.mural div h6 {
    color: #f0f70e;
}

.mural div p {
    color: #E0E1E3;
}