.lawsservice span {
    display: block;
    min-height: 10dvh;
    height: auto;

    line-height: 25px;

    padding: 10px;
}

.lawslink {
    text-decoration: none;
    color: #5562ea;
}

.lawsservice span h3 {
    font-weight: 900;
}

.lawsservice span p, .lawsservice span ul li {
    font-weight: 100;
}