.navlist {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: start;

    font-size: 22pt;
    font-family: 'Pixelify Sans', sans-serif;
    text-decoration: none;
    color: #0A1128;

    margin: 8px;
    padding: 4px;
    box-sizing: border-box;

    transition: all 0.3s ease;
}

.navlist:hover {
    background: #b9b9b9;
    border: #b9b9b9 solid 1px;
    border-radius: 15px;

    box-shadow: #000 0 2px 3px 0;
}

.navlist h6 {
    margin: 0;
}