.header {
  border-radius: 15px;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px;
  margin: 12px 110px;


  color: #E0ECF0;
}

.header h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30pt;
    font-weight: 800;

    display: inline;
    flex-grow: 2;

    margin: 0;
    color: #E0ECF0;
}

.theme {
  flex-grow: 1;
}