.header  {
    display: flex;
    gap: .5rem;
    align-items: center;

    padding: 0 1rem;

    background: #3897E5;

    user-select: none;
}

.header h1 {
    margin: 0;
    color: #E0ECF0;

    font-weight: 800;
    font-size: 25pt;
}