/** Css padrão dos sites */

.maincont {
    display: flex;
    gap: 20px;

    margin: 20px 2.5%;
}

.cotent {
  border-radius: 15px;

  width: 90%;
  height: auto;
  min-height: 70dvh;

  padding: 10px 30px;
  
  display: flex;
  flex-direction: column;
  gap: 5px;

  flex-grow: 2;
}

.cotent article {
    flex-grow: 2;
}

.footer {
    flex-grow: 1;
}

@media only screen and (max-width: 850px) {
    .maincont {
        margin: 20px 30px;
    }

    .cotent {
        border-radius: 15px;
      
        width: 100%;
        height: auto;
        min-height: 70dvh;
      
        padding: 10px 30px;
        
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
}