.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: #E6E6E6;
    border-radius: 12px;
    
    width: 100%;

    padding: 0.2rem 1rem;
    box-sizing: border-box;
}

.main h2 {
    font-size: 24pt;
    font-weight: 800;

    margin: 0;
}

.main span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main p {
    font-size: 14pt;
    font-weight: 420;
    margin: .4rem 0;
}

.main footer p {
    margin: 0;
    padding: 0;

    text-align: center;
}