
#home h1{
    color: #0A1128;
    font-weight: 600;
    font-size: 25pt;
}

#gifch {
    display: flex;
    justify-content: center;
    
    margin: 80px 0;
}

#gifch img{
    width: 300px;
}

.visualeffect {
    background: #F6F7F4;

    width: 100px;
    height: 200;
}

