.card_ch {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    background: #1c4c73;
    border: #1c4c73 solid 1px;
    border-radius: 15px;

    padding: 10px;
    margin: 8px 10px;

    max-width: 180px;
    min-width: 180px;

    line-height: 25px;
    color: #fff;
    text-decoration: none;

    transition: all 0.3s ease;
}

.card_ch:hover {
    border: #325068 solid 1px;
    border-radius: 25px;
    background: #325068;

    box-shadow: #000 0 4px 3px 0;
}

.card_ch h4 {
    display: block;
    margin: 5px 0;

    font-size: 12pt;
}

.card_ch p {
    display: inline-block;
    margin: 0;

    font-size: 10pt;
}

@media only screen and (max-width: 850px) {
    .card_ch {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    
        background: #1c4c73;
        border: #1c4c73 solid 1px;
        border-radius: 15px;
        box-sizing: border-box;
    
        padding: 8px;
        margin: 8px;
    
        width: 10dvw;
        max-width: 170px;
        min-width: 170px;
    
        line-height: 15px;
        color: #fff;
        text-decoration: none;
    
        transition: all 0.3s ease;
    }

    .card_ch h4 {
        display: block;
        margin: 5px 0;
    
        font-size: 10px;
    }
    
    .card_ch p {
        display: inline-block;
        margin: 0;
    
        font-size: 8px;
    }
}